{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;0,900;1,400;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
        <h1>
            QA-engineer
        </h1>
        <ul class="navigation">
            <li class='nav'>
               <a href="http://127.0.0.1:8000/">
                Главная страница
               </a> 
            </li>
            <li class='nav'>
                <a href="http://127.0.0.1:8000/relevance/">
                 Востребованность
                </a> 
             </li>
             <li class='nav'>
                <a href="http://127.0.0.1:8000/geography/">
                 География
                </a> 
             </li>
             <li class='nav'>
                <a href="http://127.0.0.1:8000/skills/">
                 Навыки
                </a> 
             </li>
             <li class='nav'>
                <a href="http://127.0.0.1:8000/recent_vacancies/">
                 Последние вакансии
                </a> 
             </li>
        </ul>
    </header>