{% extends 'base_template.html' %}
{% load static %}
    {% block content %}
    <section class="titles">
        <h1>QA-engineer</h1>
        <p> — это специалист, который создаёт сценарии тестирования, прогнозирует сбои и находит ошибки в продуктах.</p>
    </section>
    
    <section class="main-info">
        
           <h2>Роль QA-инженера в разработке программного обеспечения</h2>
        <p>
            QA – это несомненно важный сотрудник для выпуска новых программных продуктов для конечных пользователей. 
            Тестировщик отвечает за проверку приложений и постоянно ищет проблемы, чтобы убедиться в соответствии ПО всем стандартам.  
            Чтобы обнаружить ошибки и потенциальные проблемы, он проводит планирование и тестирование на разных этапах разработки. 
            QA-инженер тесно взаимодействует с командой разработчиков, проводя тестирование и документирование багов, чтобы гарантировать его правильную работу перед 
            релизом. Кроме того, QA-инженеры прогнозируют поведение пользователей и создают тестовые сценарии для проверки функциональности программного обеспечения. 
            И, в конечном итоге, это важное связующее звено между менеджерами или пользователями приложений и разработчиками.
        </p>
    </section>
    <section class="method">
        <h2>Методологии тестирования и инструменты</h2>
        <p>В области тестирования программного обеспечения существуют две основные категории, которые влияют на качество приложений и повышение производительности на различных стадиях их разработки.</p>
        <ol>
            <li>
                Ручное (Manual) тестирование. Это традиционный подход, при котором тестовые сценарии выполняются тестировщиками вручную, без использования 
                автоматизированных инструментов. Для успешного выполнения задач ручного тестирования, инженер должен иметь глубокое понимание работы приложения, 
                его области применения и архитектуры. Стоит отметить, что мануальное тестирование является первым необходимым шагом для определения и исправления 
                ошибок в приложении. Кроме того, этот метод также проверяет пригодность приложения для автоматизированного тестирования. Однако ручное тестирование 
                – это трудоемкий подход, требующий много ресурсов, и к тому же не всем малым и средним предприятиям по карману.
            </li>
            <li>
                Автоматизированное тестирование. Все процессы в организации подвержены автоматизации для сокращения времени, затрат и повышения производительности. 
                Тестирование не является исключением. С развитием технологий компании внедряют методологии автоматизированного тестирования, чтобы ускорить процесс 
                выпуска продукта. Используя этот подход, тестировщики выполняют тестовые сценарии, управляют тестовыми данными и используют их для повышения 
                производительности приложения.
            </li>
        </ol>

        <p>
            Таким образом, ручное и автоматизированное тестирование являются двумя ключевыми методами. Каждый из них имеет свои преимущества и недостатки, 
            и выбор между ними зависит от специфики проекта и доступных ресурсов. Кроме того, в зависимости от выбранного метода, могут использоваться следующие 
            модели проведения тестов:
        </p>
        <ul>
            <li>
                Waterfall (конвейерная модель). Это линейный подход, при котором каждый этап проходит последовательно от начала до конца.
            </li>
            <li>
                Agile (гибкие методологии).  Представляет собой итеративный подход с разбитием работы на короткие циклы разработки (спринты) с акцентом на гибкость и быструю обратную связь.
            </li>
            <li>
                DevOps. Данная методология объединяет разработку и операционную деятельность, чтобы обеспечить непрерывную поставку и высокое качество программного обеспечения.
            </li>
        </ul>

    </section>
  {% endblock %}